.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.record_list {
  padding: 14px 24px;
  ul {
    padding: 0;
    list-style: none;

    li {
      padding: 14px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #C4C4C4;
      font-weight: 500;
      font-size: 11px;


      .date {
        width: 15%;
      }

      .blood_sugar_level {
        text-align: right;
        width: 20%;
        strong {
          font-size: 16px;
          color: $primaryColor;
        }
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
      }

      .icon_name {
        width: 20%;
      }

      .value {
        width: 20%;
      }
    }
  }
}

.bottom_area {
  position: fixed;
  width: 100%;
  bottom: 80px;
  .record {
    position: relative;
    display: flex;
    justify-content: center;
  }
}
