.container {
  height: 278px;
  padding: 0 18px;

  .box {
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .desc {
      margin-top: 20px;
      font-size: 13px;
      color: #bdbdbd;
    }
  }
}
